<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{.PageTitle}}</title>
    <script>
      sock = new WebSocket("ws://localhost:8080/");
      sock.onopen = function (event) {
        console.log("connected");
      };

      sock.onclose = function (event) {
        console.log("disconnected");
        // the timeout value needs to be long enough for the
        // go app to reload before refreshing this page.
        // tune it to what works on your system.
        setTimeout(function () {
          location.reload();
        }, 2000);
      };
    </script>
  </head>
  <body>
    <h1>{{.PageTitle}}</h1>
  </body>
</html>
